<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/error.css" asp-append-version="true"/>
    <title>Document</title>
</head>
<body>
    <section class="notFound">
        <div class="img">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
        </div>
        <div class="text">
        <h1>404</h1>
        <h2>Все плохо)</h2>
        <h3>Вернуться домой?</h3>
        <a asp-action="Phones" asp-controller="Phones" class="yes">Да</a>
        <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo">Нет</a>
        </div>
    </section>
</body>
</html>

